<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="facebook-domain-verification"
      content="uc1pb4j8ws1uu02romuapv63ohvxi5"
    />
    <title>Business Categories</title>

    <script
      type="text/javascript"
      src="https://platform-api.sharethis.com/js/sharethis.js#property=60292bb6f8ce400012e81636&product=inline-share-buttons"
      async="async"
    ></script>

    <link rel="stylesheet" type="text/css" href="./../../css/style.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>

    <script src="./../../js/main.js"></script>

    <script src="./../../js/categoryApps.js"></script>
    <script src="./../../js/handleservicebtns.js"></script>
    <script src="./../../js/userdets.js"></script>
    <link rel="stylesheet" href="./../../css/categoriesDisplay.css" />
    <link
      rel="shortcut icon"
      href="./../../images/networking-100.png"
      type="image/x-icon"
    />
    <style>
      .inputTxt{ padding: 2%; margin: auto; color : orangered; font-style:
      italic; width: 80%; font-weight: bold; }
    </style>
  </head>
  <body>

    <header class="headerContainer">
      <div class="container1">
        <div class="icon">

          <img
            src="./../../images/FizzBizNet.png"
            alt=""
            srcset=""
            width="100px"
            height="80px"
          />
        </div>
        <div class="appbar">

          <div class="appname"><h1 class="bizTitle">FIZZBIZNET</h1></div>
        </div>

        <div class="menu">
          <img
            src="./../../images/icons8-menu (1).svg"
            class="menuIconCat"
            style="width: 60px;"
          />

        </div>
        <div class="profileIcon" style="order: 3; padding: 2%;">
          <img
            src="./../../images/user.svg"
            class="menuIcon"
            style="width: 40px;"
          />
        </div>
      </div>

      <div class="menuList">
        <div class="menu">
          <img
            src="./../../images/icons8-menu (1).svg"
            class="menuIcon"
            style="width: 60px;"
          />

        </div>

      </div>

    </header>
    <div class="slideExplorenav">

      <div class="sliden">
        <div class="slidemenu">
          <img
            src="./../../images/icons8-menu (1).svg"
            class="menuIconCaton"
            style="width: 60px;"
          />

        </div>

        <div class="slidenHead">
          <h2>FizzBizNet</h2>
        </div>

      </div>

      <a href="/suscription/page" id="addService"><img
          src="./../../images/add.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>New Service</h4></a>
      {{#if loggedUser.username}}
        <a href="/profile/{{{loggedUser.username}}}">
          <img
            class="iconsI"
            src="./../../images/customer.svg"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>My Page</h4></a>
        <a
          href="https://bookings.fizzbiznetwork.com?username={{{loggedUser.username}}}"
        >
          <img
            class="iconsI"
            src="./../images/schedule.png"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>Calender&Schedule</h4></a>
        <a href="/competition/all">
          <img
            class="iconsI"
            src="./../images/mission.png"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>Competitions&Events</h4></a>

      {{else}}

        <a href="/login">
          <img
            class="iconsI"
            src="./../../images/customer.svg"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>My Page</h4></a>
      {{/if}}

      <a href="/apps/all">
        <img
          class="iconsI"
          src="./../../images/home.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>Home</h4></a>
      <a href="./../logout" class="menuitem"><img
          src="./../../images/log-out.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>SignOut </h4></a>

      <a id="share" onclick="openShare()">
        <img
          class="iconsI"
          src="./../../images/share (1).svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>Share</h4></a>
    </div>

    <div class="body">
      <div
        class="sharethis-inline-share-buttons hsharereviews"
        id="hsharereviewsDiv"
      ></div>

      <div class="Comp" id="tabView" style="margin: 2%;">

        <a class="tItem" href="/friendlist/{{{row.USERNAME}}}">Friends
          {{{friends}}}</a>
        <a href="/user/gallery/{{{row.USERNAME}}}" class="tItem">Gallery 2</a>
        <a href="#reel" class="tItem" onclick="handleUserVideos();">Videos 3</a>
        <a href="#rulesComp" class="tItem">Blogs 10</a>
        <a
          href="#contact"
          class="tItem"
          onclick="handleUserContact();"
        >Contact</a>
        <a href="" class="tItem">Explore</a>

      </div>
      <div class="intro"><b>{{{username}}} gallery</b></div>
      <div class="addImg">
        {{#if isOwner}}
          <button
            style="background-color: green; border:2px solid green;  padding:2%; border-radius:4px; color:white;"
            onclick="handleAddImage()"
          >Add</button>
          <div
            class="addImage"
            style="position: absolute; width: 80%; background-color: black; padding: 4%; z-index: 2; opacity: 0.9; display: none;"
          >
            <p style="color: grey;"> Add Image</p>
            <div>
              <img
                src="./../../images/1124591213166470_1613473886910_253908919.png"
                id="addedImgIcon"
                alt=""
                style="width: 70%;"
              />
            </div>
            <form
              action="/adduserimage"
              method="POST"
              enctype="multipart/form-data"
            >
              <input
                type="file"
                id="iconImgcng"
                name="img"
                class="inputTxt"
                style="background-color: white;"
              />
              <br /><br />
              <textarea
                name="comment"
                id=""
                class="inputTxt"
                rows="10"
                placeholder="Write Something..."
              ></textarea>

              <br /><br />

              <select name="tag" class="inputTxt" id="">
                <optgroup label="Wholesales">
                  <option value="101">Online Stores</option>
                  <option value="102">Physical Centers</option>
                </optgroup>

                <optgroup label="LifeStyle">

                  <option value="301">MakeUp Artist</option>
                  <option value="303">Accessories</option>
                  <option value="302">Saloon/Kinyozi</option>
                  <option value="304">Clothline/Shoes</option>

                  <option value="202">Hotel/Lounge</option>
                  <option value="201">Photography</option>
                  <option value="203">Bars/Liquor Stores</option>
                </optgroup>

                <optgroup label="Technology">
                  <option value="401">Tech Stores</option>

                  <option value="402">Web Development</option>

                  <option value="403">Logo Design</option>

                  <option value="404">Graphic Design</option>

                  <option value="405">App Development</option>

                  <option value="406">Game Development</option>

                  <option value="407">Video Editing</option>

                </optgroup>

                <optgroup label="Education">
                  <option value="501">Schools</option>
                  <option value="502">Tuitors</option>
                </optgroup>
                <optgroup label="Consultancy">
                  <option value="601">Health</option>
                  <option value="602">Information Technology(IT)</option>
                  <option value="603">Law</option>
                  <option value="604">Engineering</option>
                  <option value="605">Architech&Design</option>
                  <option value="606">Others</option>
                </optgroup>
                <optgroup label="Special">

                  <option value="700">Adult</option>

                </optgroup>
              </select>
              <br /><br />
              <input
                type="submit"
                value="post"
                style="width: fit-content; color: white; background-color: blueviolet; border: 2px solid blueviolet; border-radius: 4px; padding: 2%; margin: 2%; text-decoration: none;"
              />
            </form>
          </div>

        {{/if}}
      </div>
      <div class="bodyMain">
        <div style="padding: 2%; width:100%; ">
          {{#if images}}
            {{#each images}}

              <div
                class="specificApp"
                style="width: 240px; float: left; margin:auto"
              >
                <div class="details">
                  <img
                    src="./../../images/{{{this.USERIMAGE}}}"
                    alt=""
                    srcset=""
                    class="imgIconCompany"
                    height="40px"
                  />
                  <div class="headingIcon"><h3>{{{this.USERNAME}}}</h3></div>
                </div>

                <div class="aLink">
                  <a href="/user/gallery/image/page/{{{this.ID}}}">
                    <img src="./../../images/view.svg" alt="" srcset="" />
                    <h3>View</h3>
                  </a>
                </div>
                <img
                  class="appbrandimg"
                  src="./../../images/{{{this.IMAGEURL}}}"
                  alt=""
                  srcset=""
                  ondblclick="handleImageDoubleClick({{{this.ID}}})"
                />
                <div class="decApp">

                  <p>{{{this.IMAGEDETAILS}}}</p>
                </div>
                <div class="likes">
                  <div class="views">
                    <div class="view"><img
                        src="./../../images/icons8-comment-58.png"
                        alt=""
                        srcset=""
                      /></div>
                    <h5>{{{this.comments}}} comments</h5>
                  </div>

                  <div class="views">
                    <div class="like"><img
                        id="like{{{this.ID}}}"
                        src="./../../images/like.svg"
                        alt=""
                        srcset=""
                        onclick="handleImageDoubleClick( {{{this.ID}}})"
                      /></div>
                    <h5 id="likesCn">{{{this.likes}}} likes</h5>
                  </div>
                </div>
              </div>

            {{/each}}
          {{else}}

            <div class="intro">
              There are no images in this gallery...click here to
              <a href="">EXPLORE</a></div>
          {{/if}}
        </div>
      </div>

    </div>
  </body>
</html>