<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="facebook-domain-verification"
      content="uc1pb4j8ws1uu02romuapv63ohvxi5"
    />
    <title> Cart Orders</title>
    <link rel="stylesheet" href="./../css/style.css" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
      crossorigin="anonymous"
    ></script>

    <script src="./../js/main.js"></script>

    <script src="./../js/categoryApps.js"></script>
    <link rel="stylesheet" href="./../css/categoriesDisplay.css" />
    <link rel="stylesheet" href="./../css/businessorders.css" />
    <link
      rel="shortcut icon"
      href="./../images/networking-100.png"
      type="image/x-icon"
    />

    <script src="./../js/handlebusinessorder.js"></script>
    <script
      type="text/javascript"
      src="https://platform-api.sharethis.com/js/sharethis.js#property=60292bb6f8ce400012e81636&product=inline-share-buttons"
      async="async"
    ></script>

  </head>
  <body>

    <header class="headerContainer">
      <div class="container1">
        <div class="icon">

          <img
            src="./../images/FizzBizNet.png"
            alt=""
            srcset=""
            width="100px"
            height="80px"
          />
        </div>
        <div class="appbar">

          <div class="appname"><h1 class="bizTitle">FIZZBIZNET</h1></div>
        </div>

        <div class="menu">
          <img
            src="./../images/icons8-menu (1).svg"
            class="menuIconCat"
            style="width: 60px;"
          />

        </div>
        <div class="profileIcon" style="order: 3; padding: 2%;">
          <img
            src="./../images/user.svg"
            class="menuIcon"
            style="width: 40px;"
          />
        </div>
      </div>

      <div class="menuList">
        <div class="menu">
          <img
            src="./../images/icons8-menu (1).svg"
            class="menuIcon"
            style="width: 60px;"
          />

        </div>

      </div>

    </header>

    <div class="slideExplorenav">

      <div class="sliden">
        <div class="slidemenu">
          <img
            src="./../images/icons8-menu (1).svg"
            class="menuIconCaton"
            style="width: 60px;"
          />

        </div>

        <div class="slidenHead">
          <h2>FizzBizNet</h2>
        </div>

      </div>

      <a href="/suscription/page" id="addService"><img
          src="./../images/add.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>New Service</h4></a>
      {{#if loggedUser.username}}
        <a href="/profile/{{{loggedUser.username}}}">
          <img
            class="iconsI"
            src="./../images/customer.svg"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>My Page</h4></a>
        <a
          href="https://bookings.fizzbiznetwork.com?username={{{loggedUser.username}}}"
        >
          <img
            class="iconsI"
            src="./../images/schedule.png"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>Calender&Schedule</h4></a>
        <a href="/competition/all">
          <img
            class="iconsI"
            src="./../images/mission.png"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>Competitions&Events</h4></a>

      {{else}}

        <a href="/login">
          <img
            class="iconsI"
            src="./../images/customer.svg"
            alt=""
            srcset=""
            width="40px"
            style=""
          />
          <h4>My Page</h4></a>
      {{/if}}

      <a href="/apps/all">
        <img
          class="iconsI"
          src="./../images/home.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>Home</h4></a>
      <a href="./../logout" class="menuitem"><img
          src="./../images/log-out.svg"
          alt=""
          srcset=""
          width="40px"
          style=""
        />
        <h4>SignOut </h4></a>

    </div>

    <div class="body">

      <div class="bodyMain">

        <div class="main">

          <div class="levelHead">
            <div class="searchbox">

              <input
                type="search"
                name="search"
                id="searchbox"
                placeholder="Search..."
              />
              <button
                onclick="searchBusinessApps()"
                class="searchBox"
                style="background-color: antiquewhite;  color: grey; font-weight: bold; width: fit-content; padding: 1%;"
              >
                search
              </button>
            </div>
            <div class="profileMe">
              {{#if loggedUser}}
                <a
                  href="/profile/{{{loggedUser.username}}}"
                  style="text-decoration: none;"
                >
                  <h4 style="color: aqua;">{{{loggedUser.username}}} </h4>
                </a>
                <img
                  src="./../images/{{{loggedUser.profileimage}}}"
                  alt=""
                  srcset=""
                  height="40px"
                  width="40px"
                  style="border-radius: 100%;"
                />

              {{else}}
                <h4>Guest</h4>
                <img src="./../images/user.svg" alt="" srcset="" width="40px" />

              {{/if}}
            </div>
          </div>

          <div class="intro">Orders</div>

          <div id="loader" class="loader-container">

            <div class="loader"></div>
          </div>

          <div
            class="cartOrders table-container"
            style="margin: 1%; padding: 1%;"
          >

            <table class="ordertable">
              <thead class="thead">

                <td>
                  ORDER ID
                </td>
                <td>
                  USERNAME
                </td>
                <td>
                  PHONE NUMBER
                </td>
                <td>
                  EMAIL
                </td>
                <td>
                  SERVICE ID
                </td>
                <td>
                  SERVICE NAME
                </td>
                <td>
                  SERVICE IMAGE
                </td>
                <td>
                  VENUE
                </td>
                <td>
                  DATE/TIME
                </td>
                <td>
                  CREATE AT
                </td>

              </thead>
              <tbody class="tablebody">
                {{#if orders}}
                  {{#each orders}}
                    <tr class="tablerow" id="id{{{ORDERID}}}">
                      <td>
                        {{{ORDERID}}}
                      </td>
                      <td>
                        <a
                          href="/profile/{{{USERNAME}}}"
                          style="text-decoration: none; color: rgb(78, 76, 76);"
                        > {{{USERNAME}}} </a>
                      </td>

                      <td>
                        <a
                          href="/profile/{{{USERNAME}}}"
                          style="text-decoration: none; color: rgb(78, 76, 76);"
                        > {{{PHONENUMBER}}} </a>
                      </td>
                      <td>
                        <a
                          href="/profile/{{{USERNAME}}}"
                          style="text-decoration: none; color: rgb(78, 76, 76);"
                        > {{{EMAIL}}} </a>
                      </td>

                      <td>
                        <a
                          href="#"
                          style="text-decoration: none; color: rgb(78, 76, 76);"
                        > {{{SERVICEID}}}</a>
                      </td>
                      <td>
                        <a
                          href="#"
                          style="text-decoration: none; color: rgb(78, 76, 76);"
                        > {{{SERVICENAME}}}</a>
                      </td>
                      <td>
                        <img
                          src="./../images/{{{IMAGE}}}"
                          width="70px"
                          height="70px"
                        />
                      </td>
                      <td>
                        {{{VENUE}}}
                      </td>
                      <td>
                        {{{DATETIMEORDER}}}
                      </td>
                      <td>
                        {{{CREATEDAT}}}
                      </td>
                      <td>
                        <button
                          onclick="handlecompleteorder({{{ORDERID}}}, '{{{USERNAME}}}', '{{{EMAIL}}}', '{{{SERVICENAME}}}', '{{{BUSINESSNAME}}}')"
                          style="background-color: rgb(8, 125, 35); border-radius: 3%; border: 2px solid grey; color: white; padding: 1%;"
                        >
                          <img
                            src="./../images/shopping-cart.svg"
                            alt=""
                            srcset=""
                            style="width: 24px;"
                          />
                          <span style="padding: 4%;"> Complete</span></button>
                      </td>
                      <td>
                        <button
                          onclick="handleremoveorder({{{ORDERID}}}, '{{{USERNAME}}}', '{{{EMAIL}}}', '{{{SERVICENAME}}}', '{{{BUSINESSNAME}}}')"
                          style="background-color: rgb(133, 5, 5); border-radius: 3%; border: 2px solid grey; color: white; padding: 1%;"
                        >
                          <img
                            src="./../images/delete.svg"
                            alt=""
                            srcset=""
                            style="width: 24px;"
                          />
                          <span style="padding: 4%;"> Cancell</span></button>
                      </td>
                    </tr>
                  {{/each}}
                {{/if}}
              </tbody>
            </table>
          </div>

        </div>

      </div>

      <footer style="color: aquamarine;">
        <table
          width="76%"
          border="0"
          align="center"
          valign="bottom"
          cellspacing="0"
          cellpadding="0"
          style="color: aquamarine;"
        >
          <tr>
            <td id="footer"><small>&copy; 2020 by Winslow Georgos. Proudly
                created with GeorgosTech.</small></td>
            <td>
              <a href="https://twitter.com/fizzbiznet"><img
                  src="./../images/twitter.svg"
                  alt=""
                  style="width: 20px;"
                /></a></td>
            <td><a
                href="https://www.youtube.com/channel/UC3wWQmjAuvUcWIedf959Y0g"
              >
                <img
                  src="./../images/youtube.svg"
                  alt=""
                  style="width: 20px;"
                /></a></td>
            <td>
              <a href="https://www.instagram.com/fizzbiznet/"><img
                  src="./../images/instagram.svg"
                  alt=""
                  style="width: 20px;"
                /></a></td>
            <td>
              <a
                href="https://www.facebook.com/people/Fizzbiz-Network/61555941059965/"
              ><img
                  src="./../images/facebook.svg"
                  alt=""
                  style="width: 20px;"
                /></a></td>
          </tr>
        </table>
      </footer>
    </div>

    <script>

      var x = 0; function scrollNextOnServices(){
      console.log($('button').attr('id')); x = (x <
      $('.category').width()-$(document).width()) ? (x+ 200): 0;
      $('.category').css('left', -x+"px");
      $('.category').css('transition-duration', "1s"); console.log(x); }
    </script>
  </body>
</html>